/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 20px auto;
}

h1 {
    font-size: 40px;
    text-align: center;
}

img {
    width: 90%;
}

button{
  display:block;
  margin:0 auto;
}
.red {
    color: red;
}

.black {
    color: black;
}
.sottotitolo{
  background-color: green;
  text-align: center;
}
.titolo{
  background-color: red;
  font-size:70px;
  text-align: center;
}
.flex{
  display:flex;
}

.rounded{
  margin:0 10px;
  display:inline-block;
  width:30px;
  height:30px;
  border-radius: 50%;
}
.active{
  color:red;
}
