/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 20px auto;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

img {
    width: 100%;
}

button {
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.red {
    color: red;
}

.black {
    color: black;
}
