<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-hello</title>
    <!-- CDN Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Main style -->
    <link rel="stylesheet" href="./css/style-bonus.css">
</head>
<body>

    <div id="root">
    <h1 :style="'color:'+color+';background-color:'+backColor+';'">Auguri {{name}} {{surname}}</h1>
    <h2 :class="classe1">{{cit}}</h2>
    <button type="button" @click='changeColor' name="button">Change Color</button>
    <button type="button" @click='changeBackColor' name="button">Change BackColor</button>
    <button type="button" @click='changeSize' name="button">Trasform subtitle in title </button>
    <div class="flex">
    <button type="button" name="button" @click='indietro()'>Indietro</button>
    <img :src="imgs[indexImg].url" :alt="imgs.alt">
    <button type="button" name="button" @click='avanti()'>Avanti</button>
  </div>
  <div >
    <i v-for="(img,index) in imgs" :class="classe4(index,indexImg)" @click='Active(index)'>bl</i>
    <!-- <div >
      <i v-for="(img,index) in imgs" :class="[index==indexImg ? 'active' : null]" @click='Active(index)'>bl</i>
  </div> -->
</div>

     <input type="text" name="" v-model='input' value="">
      <p>{{input}}</p>
      <select  @change='selectValue()'  >
        <option value="value0">all</option>
        <option value="value1">option 1</option>

      </select>
    </div>

    <!-- Script -->
    <script src="./js/main-bonus.js"></script>
</body>
</html>
